/* :root {
  --green: #acb071;
  --secondary: #edead0;
  --text-color-primary: #354419;
  --orange: #be7216;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Nav bar */
/* .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--green);
  color: var(--text-color-primary);
  padding: 5px;
}

.nav h1 {
  width: 25%;
  height: 15%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: var(--secondary);
}

.nav ul li {
  display: inline-block;
  justify-content: center;
  padding: 10px;
  margin: 20px 20px 0 0;
}

header nav ul li a {
  color: var(--text-color-primary);
  font-weight: bold;
} */

/* Styling for Banner */
/* .banner {
  background-image: url("../images/download.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  height: 300px;
  width: 100%;
}

.banner img {
  padding: 20px;
}

.banner .quote {
  font-size: 40px;
  display: flex;
  width: 75%;
  justify-content: flex-end;
  color: var(--secondary);
}

.artist {
  padding-left: 40px;
} */

/* Styling for Main Section */
/* .title {
  border-right: 5px var(--orange) solid;
  color: var(--text-color-primary);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  margin: 20px;
  min-width: 20%;
  max-width: 20%;
}

.title h2 {
  border-right: 10px;
}

#aboutme {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 20px;
  background-color: var(--secondary);
}

#work .title {
  width: 30%;
}

#aboutme p {
  padding: 20px;
}

#work {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary);
  padding-left: 0;
}

#work .images {
  width: 70%;
}

#project-1 .projects {
  position: relative;
  width: 100%;
}

.project-2 .projects {
  position: relative;
  width: 50%;
  height: 100%;
  margin-top: 10px;
}

.project-2 {
  display: flex;
  flex-wrap: wrap;
}

.projects a img {
  width: 100%;
  border: 5px var(--orange) solid;
  padding-bottom: 0;
}

.projects .future {
  height: 300px;
} */

/* Project Labels */
/* .projects .project-label {
  position: absolute;
  top: 15px;
  right: 5px;
  color: var(--text-color-primary);
  background-color: var(--orange);
  width: 35%;
  justify-content: center;
  text-align: center;
  z-index: 2;
} */

/* body{
  background-color: red;
} */

/* Styling for Footer */
/* footer {
  display: flex;
  background-color: var(--secondary);
  color: var(--text-color-primary);
} */

/* footer ul li {
  display: inline-flex;
  padding-top: 20px;
  padding-left: 120px;
  color: var(--text-color-primary);
  font-weight: bolder;
  text-decoration: underline;
}

footer ul li a {
  color: var(--text-color-primary);
  font-weight: bold;
} */